[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/opt/extras.ubuntu.com/mirrorcam/MirrorCam
Icon=/usr/share/pixmaps/mirrorcam-64x64.png
Name=MirrorCam
Comment=Turn yor PC to the mirror!
Categories=Utility
